<button id="<%= dom_id candidate %>" class="bg-white p-3 w-full flex flex-col rounded-md dark:bg-gray-800 <%= candidate.active? ? 'shadow' : 'shadow-lg relative ring-2 ring-blue-500 focus:outline-none' %>">
  <div class="flex xl:flex-row flex-col items-center font-medium text-gray-900 dark:text-white pb-2 mb-2 xl:border-b border-gray-200 border-opacity-75 dark:border-gray-700 w-full">
    <img src="<%= candidate.image %>" class="w-7 h-7 mr-2 rounded-full" alt="profile" />
    <%= candidate.name %>
  </div>
  <div class="flex items-center w-full">
    <div class="text-xs py-1 px-2 leading-none dark:bg-gray-900 bg-blue-100 text-blue-500 rounded-md">Pos<%= candidate.tally_position  %></div>
    <div class="ml-auto text-xs text-gray-500">#<%= candidate.tally_total_count %> votes</div>
  </div>
</button>
