<tr>
  <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
    <div class="flex items-center">
    <svg viewBox="0 0 24 24" class="w-4 mr-5 text-green-500" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="12"></line>
        <line x1="12" y1="16" x2="12.01" y2="16"></line>
    </svg>
    <%= vote.ballot_type%>
    </div>
  </td>
  <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
    <div class="flex items-center">
        <%= vote.serial_no %>
    </div>
  </td>
  <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden"><%= vote.counting_station %></td>
  <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 <%= vote.valid_vote ? 'text-green-500' : 'text-red-500' %>"><%= vote.valid_vote ? 'Valid' : 'Invalid' %></td>
  <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
    <div class="flex items-center">
    <div class="sm:flex hidden flex-col">
        <%= vote.created_at %>
        <div class="text-gray-400 text-xs">11:16 AM</div>
    </div>
    <button class="w-8 h-8 inline-flex items-center justify-center text-gray-400 ml-auto">
        <svg viewBox="0 0 24 24" class="w-5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="1"></circle>
        <circle cx="19" cy="12" r="1"></circle>
        <circle cx="5" cy="12" r="1"></circle>
        </svg>
    </button>
    </div>
  </td>
</tr>
