<div class="flex items-center space-x-3 sm:mt-7 mt-4">
    <a href="<%= tabs.one.link %>" class="<%= tab_class(tabs.one.active) %>">
        <%= tabs.one.content %>
    </a>
    <a href="<%= tabs.two.link %>" class="<%= tab_class(tabs.two.active) %>">
        <%= tabs.two.content %>
    </a>
    <a href="<%= tabs.three.link %>" class="<%= tab_class(tabs.three.active) %>">
        <%= tabs.three.content %>
    </a>
    <a href="<%= tabs.four.link %>" class="<%= tab_class(tabs.four.active) %>">
        <%= tabs.four.content %>
    </a>
    <a href="<%= tabs.five.link %>" class="<%= tab_class(tabs.five.active) %>">
        <%= tabs.five.content %>
    </a>
</div>
