<div id="<%= dom_id vote %>">
  <p>
    <strong>Election period:</strong>
    <%= vote.election_period_id %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= vote.picture_id %>
  </p>

  <p>
    <strong>Serial no:</strong>
    <%= vote.serial_no %>
  </p>

  <p>
    <strong>Counting station:</strong>
    <%= vote.counting_station_id %>
  </p>

  <p>
    <strong>Candidate:</strong>
    <%= vote.candidate_id %>
  </p>

  <p>
    <strong>Ballot type:</strong>
    <%= vote.ballot_type %>
  </p>

  <p>
    <strong>Valid vote:</strong>
    <%= vote.valid_vote %>
  </p>

  <p>
    <strong>Electoral position:</strong>
    <%= vote.electoral_position_id %>
  </p>

</div>
